<!-- index.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Our Mission</h1>
    <p>Our mission at LungLens TB is to revolutionize tuberculosis diagnosis in low to middle-income countries by leveraging cutting-edge AI technologies. We are dedicated to reducing the burden on healthcare providers, enhancing patient-centered care, and ultimately, break the barrier to affordable and fast healthcare outcomes worldwide.</p>

<div class="presentation">
    <iframe loading="lazy" style="position: relative; height: 50rem; width: 100%; align-self: center; justify-self: center;"
        src="https://www.canva.com/design/DAGC-ZXVkhU/Il78P3ppAqUU5WqoFyiIfA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>

    <a href="https://www.canva.com/design/DAGC-ZXVkhU/Il78P3ppAqUU5WqoFyiIfA/view?utm_content=DAGC-ZXVkhU&utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank" rel="noopener"></a>
    </div>

    <script>


    </script>
{% endblock %}