<!-- index.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h3>Tuberculosis Detection</h3>
<p>This web page utilizes a deep learning model to diagnose tuberculosis from X-ray images quickly and accurately. Upon uploading an X-ray, users receive a binary diagnosis along with a saliency map, which highlights key areas influencing the model's decision, aiding in transparency and educational purposes.</p>

<h4>Upload X-Ray Image</h4>
<input id="lungImageUpload" type="file" name="file">
<button class="ButtonSubmit" id="submitTb">Submit Lung Image</button>

<div id="processingMessage" style="display: none;">Processing...</div>
<div id="tbPrediction"></div>
<img id="uploadedImage" src="" alt="Uploaded Image" style="display: none; width: 20%; height: auto;">
<img id="tbImage" src="" alt="TB Result" style="display: none; width: 20%; height: auto;">


<script>
    document.getElementById("submitTb").onclick = function() {
        let input = document.getElementById('lungImageUpload');
        let data = new FormData();
        data.append('file', input.files[0]);

        // Display the uploaded image immediately
        let reader = new FileReader();
        reader.onload = function(e) {
            let uploadedImage = document.getElementById("uploadedImage");
            uploadedImage.src = e.target.result;
            uploadedImage.style.display = "block";
        };
        reader.readAsDataURL(input.files[0]);

        // Show processing message
        document.getElementById("processingMessage").style.display = "block";

        const filename = input.files[0].name;
        const uploadedUrl = "http://localhost:4000/static/" + filename;
        console.log({uploadedUrl});
        const url = "http://localhost:4000/api/predict_tb";

        fetch(url, {
            method: "POST",
            body: data
        }).then(response => response.json())
        .then(data => {
            document.getElementById("processingMessage").style.display = "none"; // Hide processing message
            const class_id = data.class_id;
            console.log(data);
            console.log({class_id});
            console.log(class_id.toString());
            document.getElementById("tbPrediction").innerText = "Diagnosis: " + class_id.toString();
            document.getElementById("tbImage").src = uploadedUrl;
            document.getElementById("tbImage").style.display = "block";
        });
    };
</script>
{% endblock %}
